 .Contact {
    display:flex;
    flex-direction:column;
    gap: 1 rem
 
 }
 .Contact img {
    width: 20%;
    aspect-ratio: 1/ 1 ;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .pastilleSize {
   width: 10%;
   display: flex;
   margin-left: auto;
    margin-right: auto;
  }
  